.selections{
    display: flex;
    justify-content: center;
}
.selections button img{
    width: 200px;
    height: 200px;
    background: none;
    border: none;
}
.selections button{
margin-right: 50px
}
.results{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}
.result-selection  {
    opacity: .5;
}
.result-selection.winner{
    opacity: 1;
    
}


.result-selection img{
    width: 80px;
    height: 80px;
    background: none;
    border: none;
}
